#fishing-hot-spots {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-shadow: slategrey;
  text-align: center;
  padding: 75px;
}

#main-page {
  text-align: center;
  background-image: url("../img/john-sekutowski-3nalUfmyG-s-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#description {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
  text-justify: newspaper;
  flex-wrap: wrap;
  font-weight: bold;
}

#links {
  padding: 50px;
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  font-style: oblique;
  font-weight: bolder;
  text-decoration: none;
}
