#Locations-Data {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(118, 121, 9, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

header {
  text-align: center;
}

#voting-area {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-content: space-between;
  padding: 100px;
}

#lake1 {
  box-shadow: 10px 10px 5px #000000;
  -moz-box-shadow: 10px 10px 5px #000000;
  -webkit-box-shadow: 10px 10px 5px #000000;
  -khtml-box-shadow: 10px 10px 5px #000000;
}
#lake2 {
  box-shadow: 10px 10px 5px #000000;
  -moz-box-shadow: 10px 10px 5px #000000;
  -webkit-box-shadow: 10px 10px 5px #000000;
  -khtml-box-shadow: 10px 10px 5px #000000;
}
#lake3 {
  box-shadow: 10px 10px 5px #000000;
  -moz-box-shadow: 10px 10px 5px #000000;
  -webkit-box-shadow: 10px 10px 5px #000000;
  -khtml-box-shadow: 10px 10px 5px #000000;
}

#results-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px;
}

#show-results-button {
  display: flex;
  justify-content: center;
}
