#hickory {
  background-color: darkkhaki;
  animation: color 5s;
}

@keyframes color {
  0% {
    background-color: darkkhaki;
  }

  25% {
    background-color: darkolivegreen;
  }

  50% {
    background-color: darkkhaki;
  }

  75% {
    background-color: darkolivegreen;
  }

  100% {
    background-color: darkkhaki;
  }
}

h1 {
  text-align: center;
}

#old-hickory-lake {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 100px;
  height: 250px;
  width: 500px;
}

p {
  text-align: center;
  font-size: px;
  margin: auto;
}

#link {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

a {
  color: black;
}
