body {
  background-color: rgb(34, 101, 139);
}

#radnor-1 {
  background-color: black;
}

#radnor-img {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-content: space-evenly;
  padding: 305px;
  margin: auto;
  width: 500px;
}

.radnor-a {
  font-size: 40px;
  justify-content: space-evenly;
  font-style: italic;
  text-align: center;
  padding: 40px;
  margin: 80px;
  text-decoration: none;
  color: forestgreen;
  font-weight: bolder;
}
.radnor-a {
  font-size: 40px;
  justify-content: space-evenly;
  font-style: italic;
  text-align: center;
  padding: 40px;
  margin: 30px;
  text-decoration: none;
  color: forestgreen;
  font-weight: bolder;
}

#history {
  color: forestgreen;
}

.search-form {
  text-align: end;
}

#radnor-h1 {
  color: forestgreen;
  font-weight: bolder;
  font-style: italic;
}

#percy-b {
  background-color: burlywood;
  font-size: x-large;
  text-align: center;
}

#percy-img {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-content: space-evenly;
  padding: 105px;
  margin: auto;
  width: 500px;
}

h1 {
  font-size: 50px;
  font-style: italic;
  color: black;
  font-weight: bolder;
}

p {
  text-align: center;
  font-size: 40px;
  justify-content: space-evenly;
  font-style: bold;
  color: black;
}

.percy-j {
  font-size: 30px;
  justify-content: space-evenly;
  font-style: italic;
  text-align: center;
  padding: 40px;
  margin: 80px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
